Read the input data

In [1]:
import pandas as pd

In [2]:
x=pd.read_pickle("Data/word_data.pkl")
word=pd.DataFrame(x)
word.rename(columns={0:'word'},inplace=True)
word.head()

                                                word
0   sbaile2 nonprivilegedpst susan pleas send the...
1   sbaile2 nonprivilegedpst 1 txu energi trade c...
2   sbaile2 nonprivilegedpst all here the second ...
3   sbaile2 nonprivilegedpst   enron wholesal ser...
4   sbaile2 nonprivilegedpst origin messag from  ...

In [3]:
x=pd.read_pickle("Data/email_authors.pkl")
author=pd.DataFrame(x)
author.rename(columns={0:'author'},inplace=True)
author.tail()

       author
17573       1
17574       1
17575       1
17576       1
17577       1

In [4]:
train=pd.concat([word,author],axis=1)
train.tail()

                                                    word  author
17573   jtowns nonprivilegedpst i have a discount on ...       1
17574   judi townsend 62602pst i ask victor about the...       1
17575   judi townsend 62602pst photo of my woman on t...       1
17576   jtownsensf on the 8th tp2 sold vng 10000 dth ...       1
17577             jtownsensf httpgasmsgboardcorpenroncom       1

Basic exploratory analysis of data

In [5]:
train.shape

(17578, 2)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17578 entries, 0 to 17577
Data columns (total 2 columns):
word      17578 non-null object
author    17578 non-null int64
dtypes: int64(1), object(1)
memory usage: 274.7+ KB

In [7]:
train['author'].value_counts().plot(kind='bar');

Training data is well balanced.

In [8]:
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np

In [9]:
X=train['word']
y=train['author']

In [10]:
#Split data into training and testing data. 70% into training and 30% into test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
from sklearn.naive_bayes import GaussianNB

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
#Vectorize the training and test data
vectorizer=TfidfVectorizer()

In [14]:
X_train2 = vectorizer.fit_transform(X_train)
X_test2  = vectorizer.transform(X_test)

In [15]:
#Initialize clasifier
clf=GaussianNB()

In [16]:
#Fit the model on training data
clf.fit(X_train2.toarray(),y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [17]:
#Predict author for test data
result=clf.predict(X_test2.toarray())

In [18]:
#Concatenate test data with prediction
data=pd.concat([X_test.reset_index(),y_test.reset_index(),pd.DataFrame(result)],axis=1,ignore_index=False)
data.rename(columns={0:'Prediction'}, inplace=True)

In [19]:
data.drop(columns='index',inplace=True)

In [20]:
data.head()

                                                word  author  Prediction
0    melissa i went back to your origin draft of ...       0           0
1    pleas put on my calendar with respect to pol...       0           0
2     62502pst i final got a respons on the wire ...       1           1
3    frank can you handl   enron north america co...       0           0
4      62502pst httpetratahomeattbicomflashbananaswf       1           1

In [22]:
#Calculate Accuracy of Model
clf.score(X_test2.toarray(),y_test)

0.9706105422828972

### Hence model has 97% accuracy.